@model BrandListViewModel

@{
    Layout = "_AdminLayout";
}

<h2>Add Brand</h2>

<form class="form-control-plaintext" method="post">
    <div class="add-product">
        <div class="ap-left">
            <label for="formGroupExampleInput">Name</label>
            <input class="form-control" name="BrandName" type="text" placeholder="Enter Name">
        </div>
        <div class="ap-right">
            <label for="formGroupExampleInput">Description</label>
            <input class="form-control" type="text" name="Description" placeholder="Enter Description">
            </br>
            <button type="submit" class="btn btn-outline-success"> Submit <i class='bx bx-send'></i></button>

        </div>

    </div>
</form>
