@{
    Layout = "_AdminLayout";
}



<div class="acr-bottom-top">
    <div class="ad-box">
        <div class="ad-box-left"><i class='bx bxs-component'></i></div>
        <div class="ad-box-right">
            <span>Products</span>
            <h6>2,900</h6>
        </div>
    </div>
    <div class="ad-box">
        <div class="ad-box-left"><i class='bx bxs-user-detail'></i></div>
        <div class="ad-box-right">
            <span>Users</span>
            <h6>350</h6>
        </div>
    </div>
    <div class="ad-box">
        <div class="ad-box-left"><i class='bx bxs-shopping-bags'></i></div>
        <div class="ad-box-right">
            <span>Orders</span>
            <h6>2,900</h6>
        </div>
    </div>
    <div class="ad-box">
        <div class="ad-box-left"><i class='bx bx-shopping-bag'></i></div>
        <div class="ad-box-right">
            <span>Total Sales</span>
            <h6>142</h6>
        </div>
    </div>
</div>
<div class="acr-bottom-bottom">
    <div class="acr-bottom-left">
        
    </div>
    <div class="acr-bottom-right">
        <div class="acr-bottom-top">
        </div>
        <div class="acr-bottom-bottom">
        </div>
    </div>
</div>